XMLXSDFiles/WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:req="http://www.w3schools.com/EdwindeRoos"
	xmlns:rsp="http://www.w3schools.com/EdwindeRoos" 
	xmlns:hdr="http://www.w3schools.com/EdwindeRoos"
	xmlns:flt="http://www.w3schools.com/EdwindeRoos"
	xmlns:srv="http://www.w3schools.com/EdwindeRoos/message"
	targetNamespace="http://www.w3schools.com/EdwindeRoos/message">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.w3schools.com/EdwindeRoos"
				schemaLocation="XSDRequest.xsd" />
			<xsd:import namespace="http://www.w3schools.com/EdwindeRoos"
				schemaLocation="XSDResponse.xsd" />
			<xsd:import namespace="http://www.w3schools.com/EdwindeRoos"
				schemaLocation="XSDHeader.xsd" />
			<xsd:import namespace="http://www.w3schools.com/EdwindeRoos"
				schemaLocation="XSDFout.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="request">
		<wsdl:part name="request" element="req:BMIvalues" />
	</wsdl:message>
	<wsdl:message name="response">
		<wsdl:part name="response" element="rsp:BMI" />
	</wsdl:message>
	<wsdl:message name="header">
		<wsdl:part name="header" element="hdr:dateCreated" />
	</wsdl:message>
	<wsdl:message name="ApplicatieFout">
		<wsdl:part name="ApplicatieFout" element="flt:Error" />
	</wsdl:message>

	<wsdl:portType name="WS-Interface">
		<wsdl:operation name="calculateBMI">
			<wsdl:input message="srv:request" />
			<wsdl:output message="srv:response" />
			<wsdl:fault name="ApplicatieFout" message="srv:ApplicatieFout" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="WS-Binding" type="srv:WS-Interface">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	<wsdl:operation name="calculateBMI">
		<soap:operation soapAction="" style="document" />
		<wsdl:input>
			<soap:body use="literal" />
			<soap:header message="srv:header" part="header" use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
			<soap:header message="srv:header" part="header" use="literal" />
		</wsdl:output>
		<wsdl:fault name="ApplicatieFout">
			<soap:fault name="ApplicatieFout" use="literal" />
		</wsdl:fault>
	</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="bmiCalculation">
	<wsdl:port name="WS-Port" binding="srv:WS-Binding">
		<soap:address location="http://www.examples.com/SayHello/" />
	</wsdl:port>
</wsdl:service>
</wsdl:definitions>
